@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
}

body{
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
}

header{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    height: 12vh;
}

img{
    width: 200px;
}

.quadro{
    display: flex;
    justify-content: space-around;
}

.agenda{
    transition-duration: 0.25s;
    background-color: #8FB8DE;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.presenca{
    transition-duration: 0.25s;
    background-color: #54C6EB;
    width: 400px;
    padding: 1.5rem 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 10px 10px 8px #888888;
}

.agenda:hover,.presenca:hover{
    transform: scale(1.05);
}

table{
    width: 90%;
    background-color: white;
    border-collapse: collapse;
}

td{
    text-align: center;
    border: 1px solid #54C6EB;
}

h2{
    text-align: center;
    margin: 35px 0;
}

h1{
    font-size: 3em;
    color: #3652e4;
}

h3{
    font-size: 1.3em;
    color: #4c69f7;
    padding-bottom: 0.5rem;
}