.info {
    background-color: #e7e7e7;
    width: 13rem;
    color: #000000;
    font-size: 1.2em;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.3rem;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.type{
    text-align: center;
}

.bloco{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    text-decoration: none;
    color: #000000;
}

.info-footer{
    text-align: center;
    background-color: #c5c5c4;
    border-radius: 50px;
    margin-top: 0.5rem;
}

.info img{
    width: 100%;
}

.info:hover {
    opacity: 0.9;
    cursor: pointer;
    margin-top: -0.2rem;
}

.info-block{
    background-color: #ffffff;
    border-radius: 0.4rem;
    padding: 0.4rem;
    text-align: center;
}

.grass{
    background-color: #1ccc05;
    color: #ffffff;
    border-radius: 0.4rem;
    padding: 0.1rem 0.4rem;
    margin: 0 0.2rem 0 0;
}

.poison{
    background-color: #7a16bd;
    color: #ffffff;
    border-radius: 0.4rem;
    padding: 0.1rem 0.4rem;
}