.quadrado{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border: 2px solid black;
}

.circulo{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50px;
}
