*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input{
    width: 250px;
    height: 25px;
    margin: 1em;
    outline: none;
}

.form button{
    width: 150px;
    height: 25px;
    margin: 1em;
}