@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #5e32a8;
    color: white;
}

.container{
    max-width: 60%;
    margin: auto;
    padding: 0 2rem;
}

#title {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
}

#description {
    text-align: center;
    padding-bottom: 2rem;
}

#survey{
    background-color: #331b5c;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 5px 8px 6px #942cf7;
}

#survey input{
    border-radius: 5px;
    border: none;
    height: 1.75rem;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}